logs/
info.md

# Python
*.pyc
__pycache__
venv/
*.egg-info/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Ansible
*.retry
*.log
!ansible/roles/
!/ansible/roles/**/

# Environment specific files, except the example
.env
!.env.example

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# Editor/IDE specific files
.vscode/
.idea/
*.sublime-*

# System files
.DS_Store
Thumbs.db
